<!DOCTYPE html>
<html>
<body>

{% if user.is_authenticated %}
    <p>{{ user.phone }} ({{ user.role }})</p>

    <a href="/dashboard/">Dashboard</a>

    {% if user.role == "ADMIN" %}
        <a href="/branches/">Branches</a>
    {% endif %}

    <a href="/students/">Students</a>
    <a href="/schedule/">Schedule</a>
    <a href="/logout/">Logout</a>
{% else %}
    <a href="/login/">Login</a>
{% endif %}

<hr>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <hr>
{% endif %}

{% block content %}{% endblock %}

</body>
</html>
